.field{
    height: 80px; 
    width:80px;
    display:inline-block;
    border:black 1px solid;
    box-sizing: border-box;
    position: relative;
    margin-bottom: -5px;
}

.img{
    height: 79px;
    width: 79px;
    margin-bottom: -5px;
    box-sizing: border-box;
    position: relative;
}